<form action="/product/add" method="post">
  <label for="">
    Product:
    <input type="text" name="name" required/>
  </label>
  <label for="">
    Amount: 
    <input type="number" name="amount" required/></label>
  <label for="">
    Category:
    <select name="category" id="" required> 
      <option value="" disabled selected>Select a Category</option> 
      <% categories.forEach(category => { %>
        <option value="<%= category %>"><%= category %></option>
      <% }); %>
    </select>
  </label>
  <button type="submit">Add</button>
</form>
  