<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category Editor</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/category.css" />
</head>
<body>
  <div class="category-editor">
    <% categories.forEach(category => { %>
      <form action="/product/category/delete" method="post">
        <input type="text" hidden name="category" value="<%= category %>">
        <button type="submit"><span class="red">Delete</span> Category "<%= category %>"</button>
      </form>
    <% }) %>
    <form class="add-form" action="/product/category/add" method="post">
      <label for="">Category:</label>
      <input type="text" name="category" required>
      <button type="submit">Add</button>
    </form>  
    <form action="/product" method="get">
      <button type="submit" class="back">GO BACK</button>
    </form>
  </div>                   
</body>
</html>
