<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <h1 class="test"><span class="yellow">Mac</span><span class="red">DonDon</span> Manager Online 2024</h1>
    <form action="/product" method="get">
      <button type="submit">Manage Products</button>
    </form>
  </body>
</html>
